#telos-content {
    margin-top: 5px;
}

table.stats {
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.lbl-bottom {
    font-size: 15px;
    font-weight: bold;
    color: #20b0db;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #83aa9e;
}

.test {
    position: relative;
    width: 100%;
}
.lbl-top {
    font-size: 15px;
    font-weight: bold;
    color: #20b0db;
    width: 50%;
    text-align: right;
    padding-right: 10px;
    position: absolute;
}

.val-top {
    font-size: 15px;
    font-weight: bold;
    width: 50%;
    text-align: left;
}

td.value {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.col-phase {
    width: 20%;
}

.col-enrage {
    width: 60%;
}

.col-special {
    width: 30%;
}

.col-health {
    width: 50%;
}

.col-streak {
    width: 30%;
}

#phase {
    color: #FFB238;
    font-size: 18px;
}

#enrage {
    color: #b1a612;
    font-size: 18px;
}

#health {
    margin-top: 3px;
    color: #1add65;
}

#special {
    color: #3addda;
}

#streak {
    color: #29BAB8;
    font-size: 18px;
}

#current-attack {
    color: #c77c0d;
    white-space: nowrap;
}

.row-health {
    margin-top: 7px;
}

.lbl-attack {
    color: #edff4a;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

#next-attack {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

#suggestion {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
}

#warning {
    color: #df1010;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    text-align: center;
}